[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
uvicorn = "*"
aiofiles = "*"
jinja2 = "*"
discord-markdown = "*"
aiohttp = "*"
aioauth-client = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
web = "uvicorn app:app --reload"
